The first assignment acquaints you with the data and encourages you to develop a research question. Five codebooks are provided, and you are also free to use your own existing data. You will submit a blog entry where you tell us (1) what data set you have chosen and (2) describe the association you would like to study. You will also prepare a codebook of your own.

Review the code books for the data sets made available to you.

STEP 1: Choose a data set that you would like to work with.

Remember that one of the simplest research questions that can be asked is whether two constructs are associated.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("gapminder.csv")

In [3]:
df.head()

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate
0,Afghanistan,,.03,.5696534,26.8,75944000,25.6000003814697,,3.65412162280064,48.673,,0,,6.68438529968262,55.7000007629394,24.04
1,Albania,1914.99655094922,7.29,1.0247361,57.4,223747333.333333,42.0999984741211,,44.9899469578783,76.918,,9,636.341383366604,7.69932985305786,51.4000015258789,46.72
2,Algeria,2231.99333515006,.69,2.306817,23.5,2932108666.66667,31.7000007629394,.1,12.5000733055148,73.131,.42009452521537,2,590.509814347428,4.8487696647644,50.5,65.22
3,Andorra,21943.3398976022,10.17,,,,,,81,,,,,5.36217880249023,,88.92
4,Angola,1381.00426770244,5.57,1.4613288,23.1,248358000,69.4000015258789,2,9.99995388324075,51.093,,-2,172.999227388199,14.5546770095825,75.6999969482422,56.7

**GAPMINDER DATASET**

Polity score any relation with life expentancy?

Income per person under employment rate

STEP 2. Identify a specific topic of interest

STEP 3. Prepare a codebook of your own (i.e., print individual pages or copy screen and paste into a new document) from the larger codebook that includes the questions/items/variables that measure your selected topics.)

STEP 4. Identify a second topic that you would like to explore in terms of its association with your original topic.

STEP 5. Add questions/items/variables documenting this second topic to your personal codebook.

STEP 6. Perform a literature review to see what research has been previously done on this topic. Use sites such as Google Scholar (http://scholar.google.com) to search for published academic work in the area(s) of interest. Try to find multiple sources, and take note of basic bibliographic information.

STEP 7. Based on your literature review, develop a hypothesis about what you believe the association might be between these topics. Be sure to integrate the specific variables you selected into the hypothesis.